<a href="https://github.com/thefarside112"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

<nav class='top-bar'>
	<ul class='title-area'>
		<li class='name'>
			<h1><a href='/'>Algorithms</a></h1>
		</li>
		<li class='toggle-topbar menu-icon'><a href='#'><span>Menu</span></a></li>
	</ul>

	<section class='top-bar-section'>
		<ul class='left'>
			<li class='divider'></li>
			<li class='active'><a href='/'>Home</a></li>
			<li class='divider'></li>
			<li class='active'><%= link_to "History", history_path %></li>
			<li class='divider'></li>
			<li class='active'><%= link_to "Stunning Visuals", visuals_path %></li>
			<li class='divider'></li>
			<li class='has-dropdown'><%= link_to "Explore Algorithms", exploration_path %>
				<ul class='dropdown'>
					<li><%= link_to "Bubble Sort" %></li>
					<li><%= link_to "Bubble Bounce Sort" %></li>
					<li><%= link_to "Merge Sort - Top Down" %></li>
					<li><%= link_to "Merge Sort - Natural" %></li>
					<li><%= link_to "Merge Sort - Bottom Up" %></li>
					<li><%= link_to "Quicksort" %></li>
					<li><%= link_to "Insertion Sort" %></li>
					<li><%= link_to "Selection Sort" %></li>
					<li><%= link_to "Shell Sort" %></li>
					<li><%= link_to "Heapsort - Binary" %></li>
					<li><%= link_to "Heapsort - Ternary" %></li>
					<li><%= link_to "Introsort" %></li>
					<li><%= link_to "Comb sort" %></li>
					<li><%= link_to "Radix Sort" %></li>
					<li><%= link_to "Bucket Sort" %></li>
				</ul>
			</li>
		</ul>

		<ul class='right'>
			<li><%= link_to "Sign In", login_path%></li>
			<li><%= link_to "Register", register_path %></li>
		</ul>
	</section>

</nav>